@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #796448, #021736);
    color: #fff;
}


.container {
    background-color: #1a1a1a;
    margin: 20vh 20%;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

.icon {
    width: 120px;
}

.name {
    margin: 10px auto 0;
    word-break: break-all;
    font-weight: 700;
}

.explanation {
    margin: 30px auto 0;
    font-weight: 300;
}

.links {
    width: 80%;
    margin: 20px auto 0;
    max-width: 500px;
    text-align: center;
}

.links a {
    color: #fff;
    font-size: 40px;
}

.links a:hover {
    color: #666666;
    transition: 0.2s;
}


@media screen and (max-width: 480px) {
    .container {
        background-color: #1a1a1a;
        margin: 10vh 10%;
        height: 80vh;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-content {
        width: 80%;
        margin: auto;
        max-width: 800px;
        text-align: center;
    }
}